table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;

}

.color-column-title th:nth-child(3){
    text-align: center;
}

tr{
    &:nth-child(1){
        background-color: #000000bd;
        color: white;
    }
    &:not(:first-child):hover {
        background-color: #0000000f;
    }
}
.container-fake{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.border-list{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.style-button {
    background-color: transparent;
    border: 2px solid #db001e;
    border-radius: 15px;
    color: #db001e;
    cursor: pointer;
    font-family: BlinkMacSystemFont,"Segoe UI";
    font-size: 16px;
    font-weight: 600;
    min-height: 35px;
    padding: 4px 24px;
    text-align: center;

    &:hover{
        color: #fff;
        background-color: #db001e;
        box-shadow: rgba(0, 0, 0, 25%) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: none;
        transform: translateY(0);
    }
}

.display-center{
    display: flex;
    place-content: center;
}

.space-top-new-user{
    padding-top: 15px;
}


.cursor-open-view-user{
    cursor: pointer;
    width: 40%;

    &:hover{
        font-weight: bold;
    }
}
