.space-top-new-user button{
    margin-bottom: 15px;
    border: 2px solid #009bd3;
    background-color: #009bd3;
}

.submit-new-user input{
    border: 2px solid #009688;;
    background-color: #009688;;
}

* {
    box-sizing: border-box;
}

input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

form{
    position:relative;
}


input {
    width: 100%;
    display: block;
}
.input-field{
    height: 40px;
    border-radius: 5px;
    border-width: 1px;

}
.inline {
    width: 100%;
    display: table;
}

.inline .width-input-new-user {
    display: table-cell;
}

.inline .width-input-new-user:nth-child(n+2) {
    padding-left: 10px;
}
.submit-and-options{
    position:absolute; right:0; top:0;
}

.input-field{
    padding: 5px;
}

.save-margin-right{
    margin-right: 15px;
}

.space-between-save-cancel{
    display: flex;
}

// Modal

.modal{
background-color: white;
display: none;
position: fixed;
width: 200px;
height: 200px;
left: 200px;
top: 40px;
color: black;
}

.show{
display: block !important;
}

.cancel-new-user button{
border: 2px solid #a7a7a7;
background-color: #a7a7a7;
}

.breadcrumb{
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;

    & > li{
        display: inline-block;
    }
    & > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/";
    }
}


.pace-done li.active{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}