
.style-default-button{
    & button, & input{
        cursor: pointer;
        font-family: BlinkMacSystemFont,"Segoe UI";
        font-size: 16px;
        font-weight: 600;
        min-height: 35px;
        padding: 4px 24px;
        text-align: center;
        border-radius: 5px;
        color: #fff;
    }
}